{% extends 'base.html' %}


{% block content %}
    <header class="max-w-7xl mx-auto px-4 lg:px-0 py-2">
        <div class="flex justify-between">
            <div>
                <h1 class="text-3xl font-bold text-black italic">Cominity</h1>
            </div>
            <div class="flex justify-end gap-2">
                <a href="#" class="btn btn-grren-outline">Add Listing</a>
                <a href="#" class="btn btn-green">Login</a>
            </div>
        </div>
    </header>

    <section>
        <div class="container mx-auto px-4 lg:px-0 py-10">
            <h2 class="text-center text-3xl font-bold text-black">Popular Categories</h2>
            <div class="grid">

            </div>
        </div>
    </section>
{% endblock content %}
    