{% extends 'base_site.html' %}


{% block content %}
    <div class="max-w-6xl mx-auto px-3 pt-7 lg:pt-10">
        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="col-span-1">
                {% include 'includes/account_sidebar.html' %}
            </div>
            <div class="col-span-2">
                <div class="space-y-6">
                    {% for biz in businesses %}
                        <h6>{{ biz.name }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    