$green: #29971d;
$blue: #2962FF;

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #555555;
    overflow-x: hidden;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
}
.btn-green{
    background-color: $green;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}
.btn-grren-outline{
    background-color: transparent;
    color: $green;
    border: 2px solid $green;
    border-radius: 30px;
    text-decoration: none;
    &:hover{
        background-color: $green;
        color: white;
    }
}
.btn-blue{
    background-color: $blue;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}


.input{
    width: 100%;
    padding: 10px 15px;
    height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    color: #555555;
}
.input:focus{
    outline: none;
    border: 1px solid $blue;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start; 
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    &.show{
        visibility: visible;
        opacity: 1;
    }
}
.modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    margin-top: 80px;
}

