{% extends 'base.html' %}
{% load  static %}

{% block main %}
    <header class="px-3 lg:px-0 py-2 border-0 lg:border lg:border-b-gray-200 ">
        <div class="max-w-7xl mx-auto flex justify-between items-center">
            <div class="logo">
                <!-- <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" class="max-w-24 lg:max-w-44"></a> -->
                <div class="location">
                    <!-- <a href="#">Garia, Kolkata </a> -->
                </div>
            </div>
            <div class="flex justify-end items-center gap-2">
                <a href="#" class="btn btn-grren-outline hidden lg:inline-block">Add Listing</a>
                {% if not user.is_authenticated %}
                    <button class="btn btn-green" onclick="document.getElementById('loginModal').classList.add('show');">Login</button>
                {% else %}
                    <a href="{% url 'user_account' %}" class=""> <img src="{% static 'images/user-circle-1.svg' %}" alt="User Profile Icon" class="w-8 lg:w-11"> </a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="min-h-96">
        
        {% block content %}
            
        {% endblock content %}
            
    </main>

    
    
    <!-- Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/a2e0b1f1e3.js" crossorigin="anonymous"></script>

{% endblock main %}
    
    